/*html {
    background-color: silver;
}*/

.hidden2 {
    display:none;
}

nav.navbar.navbar-default {
    background: #cdcdcd;
    margin-bottom: 4%;
}

svg {
    color: #C06014;
}
span#brand {
    font-family: 'Nixie One', cursive;
    font-weight:800;
    color:black;
}

.navbar-default a {
    color: #000000;
}

body {
    background: url('/static/hip-square.png');
}

.container {
    background-color: white;
    min-height:300px;
    padding-bottom: 5%;
}

.book-display {
    text-align:center;
    margin: 0 0 3% 2%;
    min-height: 300px;
    max-width: 22.2%;
    background: #cdcdcd;
}

.book-display-shelf {
    text-align:center;
    margin: 0 0 2% 2%;
    min-height: 250px;
    max-width: 22.2%;
    background: #cdcdcd;
}
.book-pane {
    background: white;
    text-align: center;
    opacity: .7;
    height: 85px;
    max-width: 100%;
    margin-top: 5%;
    padding: 5%;
}

.book-pane h4 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    display: block;
}
.book-display-shelf h5 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    display: block;
}

.book-display img {
    margin-bottom: 0;
    margin-top: 7%;
    height: 120px;
}
.book-display button{
    margin-top: 9%;
}

.form-control:focus, button.btn-sm:focus {
  border-color: #cdcdcd;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(160, 160, 160, 0.6);
}

div.row.search {
    margin-bottom: 4.2%;
}

#bootstrap-overrides button, .form-control:focus {
    border-color: #cdcdcd;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(160, 160, 160, 0.6);
}

#bootstrap-overrides a, #bootstrap-overrides a:hover, #bootstrap-overrides a:visited {
    color: #C06014;
}

#bootstrap-overrides button.deets, #bootstrap-overrides input{
    padding: 6px 75px;
    background: white;
    opacity: .8;
    font-weight: 800
}

#boostrap-overrides button.deets:focus, button.shelf-button:focus, button.review-button:focus, button.shelf-button:active {
    outline-color: gray;
    outline-width: medium;
    outline:gray;
}

#bootstrap-overrides button, .form-control:focus {
    border-color: #cdcdcd;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(160, 160, 160, 0.6);
    outline: gray;
}
button.deets a:focus {
    outline-color: #C06014;
    outline-width: medium;
}

div .matches {
    text-align: center;
    border-top: 1px solid #cdcdcd;
    height: 140px;
}
.matches img {
    margin-top: 15%;
    margin-right: 3%;
}

.book_deets {
    margin-top: 5%;
}

.book-desc {
    height:290px;
    overflow:scroll;
}

.availability {
    margin-right:3%;
    margin-bottom: 5%;
}

.home {
    text-align: center;
}

.challenge-div {
    padding-left:5%;
    padding-bottom: 5%;
    min-height: 550px;
}

img.pic {
    max-width:1170px;
    margin-left:-15px;
    margin-top: -20px;
    opacity: .75;
}

.library-div {
    padding-left:5%;
    padding-bottom: 5%;
}

#challenge-form {
    margin-left: 25%;
}

#user-reviews {
    margin-left: 35%;
    margin-top: 5%;
}

.libraries {
    margin-bottom: 5%;
}

.libraries form input {
    margin-top: 2%;
}

span.logout a {
    line-height: 50px;
}

#user-shelf-show form {
    margin-left: 38%;
    margin-top:5%;
}
#user-shelf-show form select {
    width:275.69px;
}