{% extends 'base.html' %}

{% block content %}
<hr>
<!-- Main Book info
=================== -->
<h2><a href="{{ book['edition']['gr_url']}}" target="_blank">{{ book["title"] }}</a></h2>
<h4>{{ book["author_name"] }}</h4>

<div class="row book_deets">
    <div class="col-lg-3" style="border-right:1px solid #cdcdcd" style="padding-left:3%">
            <img src="{{ book['edition']['pic_url'] }}">
            <h4> Page count: {{ book['edition']['num_pages'] }}</h4>
            <h4> Publisher: {{ book['edition']['publisher'] }}</h4>
            <h4> Date published: {{ book['edition']['date']}}</h4>
    </div>
    <div class="col-lg-9 book-desc" style="padding-left:5% padding-right:3%">
        <h4> {% autoescape false %}{{ book['description']}} {% endautoescape %} </h4>
    </div>
</div>
<hr>
<!-- Buttons to submit to GR
============================ -->
<div class="row">
    <div class="col-lg-6 center">
            <button id="shelf-button" style="width:98%">Shelve this book</button>
    </div>
    <div class="col-lg-6 center">
          <button id="review-button" style="width:98%">Add a Review</button>
    </div>
<!-- Shelve a book on Goodreads form
==================================== -->
    <div id="user-shelf-show" class="hidden2">
        <form action='/shelve_book' method='POST' style="margin-left:33% margin-top:3%">
            <input type='hidden' name='book' value='{{ book["edition"]["gr_id"] }}' />
            <select name="shelf">
                {% for shelf in user.shelves %}
                    <option name="shelf" value="{{ shelf.name }}" />{{ shelf.name }}</option>
                {% endfor %}
            </select>
            <br>
            <input type='submit' value='Add to my Shelves' style="margin-top:2%" />
        </form>
    </div>
<!-- Book review submission form
================================ -->
    <div id="user-reviews" class="hidden2">
        <form action="/review_book", method="POST">
            <input type='hidden' name='book' value='{{ book["edition"]["gr_id"] }}' />
            <h5>Review this book:</h5>
            <input type="text" name="text" placeholder="Add your review here" required/> <br>
            <h5>Star Rating:</h5>
            <input type="number" name="star_rating" min="1" max="5">
            <h5>Started Reading:</h5>
            <input type="date" name="start_read">
            <h5>Finished Reading:</h5>
            <input type="date" name="end_read">
            <h5>Submit this review to Goodreads?</h5>
            <select name="private">
                <option name="private" value="f">Yes</option>
                <option name="private" value="t">No</option>
            </select>
            <p> Not submitting this review will still update your Readerboard reading history and stats. </p>
            <h5>Challenge Points</h5>
            {% if user.challenges %}
                {% for challenge in challenges %}
                    <input type="checkbox" name="challenge" value="{{ challenge.chal_id }}">{{ challenge.name }}<br>
                {% endfor %}
            {% else %}
                <p><a href="#">Add a challenge</a> and track your progress here!</p>
            {% endif %}
            <input type="submit" value="Send review"/>
        </form>
    </div>
</div>
<hr>
<!-- Availability at local library
==================================-->
<div class="row availability">
    <div class="col-lg-6">
        <h3>Availability at local library:</h3>
        {% if lib_copies %}
            <table class="table">
                <tr>
                    <td>Copies available for checkout:</td>
                    <td>{{ lib_copies['available'] }}</td>
                </tr>
                <tr>
                    <td>Number of holds:</td>
                    <td>{{ lib_copies['holds'] }}</td>
                </tr>
                <tr>
                    <td>Total copies in library system:</td>
                    <td>{{ lib_copies['copies'] }}</td>
                </tr>
            </table>
        {% else %}
            <table class="table">
                <tr>
                    <td>No copies found at the library!</td>
                </tr>
            </table>

        {% endif %}
    </div>
<!-- Availability from Goodreads friends:
========================================= -->
    <div class="col-lg-6">
        <h3>Availability from Goodreads friends:</h3>
        {# Friends that have marked this book as read go here, along with their star rating #}
        {% if matches %}
            <div class="row">
            {% for match in matches %}
                <div class="col-lg-4 matches">
                    <img src="{{ match[0] }}" class="match">
                    <p><a href="{{ match[3] }}">{{ match[1] }}</a></p>
                    <!-- <p>Shelf: {{ match[2].title()}}</p> -->
                </div>
            {% endfor %}
            </div>
        {% else %}
            <p>It looks like none of your friends have read this book yet!</p>
        {% endif %}
    </div>
    </div>

{% endblock %}