{% extends 'base.html' %}

{% block content %}

<h2>{{ book["title"] }}</h2>
<h4>{{ book["author_name"] }}</h4>

<div>
    <img src="{{ book['edition']['pic_url'] }}">
</div>

<h4> Page count: {{ book['edition']['num_pages'] }}</h4>
<h4> Publisher: {{ book['edition']['publisher'] }}</h4>
<h4> Date published: {{ book['edition']['date']}}</h4>
<h4> Description: {% autoescape false %}{{ book['description']}} {% endautoescape %} </h4>
<div>
    <button id="shelf-button">Shelve this book</button>
    <form action="/review_book">
        <button>
            <a href="/review_book/{{ book['edition']['gr_id'] }}">Add a Review</a>
        </button>
    </form>
    <div id="user-shelves">
        <form action='/shelve_book' method='POST'>
            <input type='hidden' name='book' value='{{ book["edition"]["gr_id"] }}' />
            <select name="shelf">
                {% for shelf in user.shelves %}
                    {% if shelf.exclusive %}
                        {#<input type="radio" name="exclusive"#}
                        <option name="shelf" value="{{ shelf.name }}" />{{ shelf.name }} </option>
                    {% else %}
                        {# <input type="checkbox" name="shelf_name" #}
                        <option name="shelf" value="{{ shelf.name }}" />{{ shelf.name }}</option> </br>
                    {% endif %}
                {% endfor %}
            </select>
            <input type='submit' value='Add to my Shelves' />
        </form>
    </div>
</div>

<h3>Availability and reviews from friends:</h3>

{# Friends that have marked this book as read go here, along with their star rating #}
{% if matches %}
    {% for match in matches %}
        <div>
            <img src="{{ match[0] }}">
            <p><a href="{{ match[3] }}">{{ match[1] }}</a></p>
            <p>Shelf: {{ match[2].title()}}</p>
        </div>
    {% endfor %}
{% endif %}
{% endblock %}